html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.toolbar {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  /*background-color: #343a40 !important;*/
  background-color: white;
  padding: 24px 16px;
}

.ui.buttons.fluid button {
  width: 33%;
  padding-right: 0;
  padding-left: 0;
}

.ui.buttons.maptype .active.toggle.button {
  background-color: #343a40 !important;
}

.ui.range .inner .track-fill {
  background-color: #343a40 !important;
}

.irs-min, .irs-max {
  display: none !important;
}

.irs--flat .irs-bar,
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-single {
  background-color: #343a40 !important;
}

.irs--flat .irs-single:before {
  border-top-color: #343a40 !important;
}

.custom-timespan:not(.active) {
  display: none;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.animals {
  flex: 1;
}

.button.primary {
  background-color: #343a40 !important;
}
