#map {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 100%;
  transition: all .5s ease, -webkit-transform .5s ease;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.toolbar {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  /*background-color: #343a40 !important;*/
  background-color: white;
  padding: 24px 16px;
}

.ui.buttons.fluid button {
  width: 33%;
  padding-right: 0;
  padding-left: 0;
}

.ui.buttons.maptype .active.toggle.button {
  background-color: #343a40 !important;
}

.ui.range .inner .track-fill {
  background-color: #343a40 !important;
}

.irs-min, .irs-max {
  display: none !important;
}

.irs--flat .irs-bar,
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-single {
  background-color: #343a40 !important;
}

.irs--flat .irs-single:before {
  border-top-color: #343a40 !important;
}

.custom-timespan:not(.active) {
  display: none;
}

.fixed-timespan:not(.active) {
  display: none;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

/*.animals {*/
/*  flex: 1;*/
/*}*/

.button.primary {
  background-color: #343a40 !important;
}

.open-close-button {
  position: absolute;
  left: -18px;
  top: 14px;
  transition: all .5s ease, -webkit-transform .5s ease !important;
}

.animals .header {
  margin-left: 12px !important;
}

.toolbar {
  transition: all .5s ease, -webkit-transform .5s ease;
}

.content.closed .toolbar {
  right: -284px;
}

.content.closed .toolbar .open-close-button {
  left: -22px;
}

.content.closed #map {
  width: calc(100% - 16px);
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gm-style-cc {
  display:none;
}

#apply-button {
  margin-top: 12px;
  float: right;
}
