#map {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  height: 100%;
}

.toolbar {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  /*background-color: #343a40 !important;*/
  background-color: white;
  padding: 24px 16px;
}

.ui.buttons.fluid button {
  width: 50%;
}

.ui.buttons.maptype .active.toggle.button {
  background-color: #343a40 !important;
}

.ui.range .inner .track-fill {
  background-color: #343a40 !important;
}